<%=render partial: 'common/header' %>

<body>

  <%=render partial: 'common/navCommon' %>

  <section class="pb-4 black">
    <div class="container black">
      <div class="row justify-content-center align-items-center my-4">
        <h1 class="white-text h1"><i>Welcome to<i><h1>
        </div>
          <img src="assets/img/black_home_of_experiential.png" alt="Image" class="rounded shadow-3d">

      </div>
    </div>
  </section>

  <section class="black">
    <div class="container">

      <div class="row mb-4 text-center">
        <div class="col">
          <h1 class="purple">March 2020</h1>
          <h2 class="h2 purple"><i>Coming to a mall near you<i></h2>
        <div class="row py-4 mb-4 text-center">
          <div class="col">
            <h2 class="h4 white-text">Here/Now is an experiential entertainment company.<br>We curate the world&apos;s most creative & interactive exhibits<br>that bring people together for unforgettable moments.</h2>
            <h2 class="h4 py-4 white-text">
              Want to pitch an idea for a new experience?<br>
              <a class="white-text purple-hover" href="mailto:experiences@visit-herenow.com">Get in touch here.</a>
            </h2>
            <h2></h2>
          </div>

        </div>
      </div>

  </section>


<%= render 'common/spinner' %>

<%=render partial: 'common/footer' %>
