<%=render partial: 'common/header' %>

<body>

  <%=render partial: 'common/navCommon' %>

  <section class="pb-4">
    <div class="container">
      <div class="row justify-content-center align-items-center text-align-center">
        <div class="col-md-10 pb-2 text-center" data-aos="fade">

          <div class="container">
            <div class="row mb-4 text-center">
              <div class="col">
                <!-- <h4>Your employees can be the first to try the latest</h4> -->
                <h1 class="display-4">Creating immersive experiences <br> has never been
                  <div class="highlight">
                    <span
                      data-typed-text="data-typed-text"
                      data-loop="true"
                      data-type-speed="50"
                      data-strings='["easier","cheaper","faster","more fun"]'></span>
                  </div>
                </h1>
              </div>
            </div>
            <div class="row py-4 mb-4 text-center">
              <div class="col">
                <h2 class="h2">Bring your next haunted house, interactive adventure, <br>or immersive exhibit to life with the support of <br>a world-class experiential platform.</h2>
              </div>
            </div>
        </div>
        <div class="col-md-12">
          <div class="row justify-content-center">
            <div>
            <img src="assets/img/home_of_experiential.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row py-4 mb-4 text-center">
        <div class="col">
        <h2 class="h2">Here/Now is an experiential entertainment company. <br>We curate the world&apos;s most creative & interactive exhibits that <br>bring people together for unforgettable moments.</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <h2>What We&apos;re Doing</h2>
      </div>
      <div class="row text-center">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <p class="h2">Reviving<br>Retail</p>
          <img src="assets/img/purple_column.png" class="purple-column">
          <p class="lead mx-xl-3">We are focused on bringing the best of immersive to the largest number of audiences possible. And we&apos;re doing this by investing in <strong>permanent spaces</strong> - dedicated exclusively to experiential entertainment - in prominent shopping malls across the nation.</p>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <p class="h2">Rotating<br>Exhibits</p>
          <img src="assets/img/purple_column.png" class="purple-column">
          <p class="lead mx-xl-3">Our goal is to create a relationship with our visitors that goes beyond any one experience. To keep audiences engaged and returning, we are constantly curating a dynamic line-up of concepts and <strong>rotating new experiences</strong> through our spaces.</p>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <p class="h2">Supporting<br>Creators</p>
          <img src="assets/img/purple_column.png" class="purple-column">
          <p class="lead mx-xl-3">We know that creating top-tier experiences is a difficult and time-consuming process. This is why we&apos;ve built a <strong>platform for creators</strong> with tools and services that are dedicated to reducing the cost, time, & stress involved in designing new experiences.</p>
        </div>

      </div>
      <div class="row justify-content-center align-items-center">
        <img src="assets/img/create_your_next_experience.png" class="large_image">
        <img src="assets/img/calling_all_creators.png" class="">
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">

        <div class="ow py-4 mb-4 text-center">
          <h2 class="display-4 mx-xl-6">You focus on the creating, <br>leave the rest to us</h2>
          <h2 class="h2">
            Whether you&apos;re an experienced veteran or a first-time immersive creator, <br>we&apos;ve assembled a suite of tools, services, and expertise to help ensure that <br>your exhibit is a success. We call this the  Here/Now Launchpad&reg;:
          </h2
        </div>

        <div class="row py-4 justify-content-center align-items-center">
          <img src="assets/img/real_estate_support.png" class="list">
          <img src="assets/img/operational_support.png" class="list">
          <img src="assets/img/creative_support.png" class="list">
        </div>

      <div>

      <div class="ow py-4 text-center">
        <h2 class="h2">
          Launch your next immersive experience with Here/Now
        </h2
      </div>
        <h2><a class="purple" href="mailto:experiences@visit-herenow.com">Get in touch</a></h2>
    </div>
  </section>

  <%= render 'common/spinner' %>

  <%=render partial: 'common/footer' %>
