<%=render partial: 'common/header' %>

<body>

  <%=render partial: 'common/navCommon' %>

  <section class="pb-0">
    <div class="container">
      <div class="row justify-content-between align-items-center my-0">
        <div class="col-md-9" data-aos="fade">
          <h1 class="display-4">Sorry, we’re not accepting new brand partnerships at this moment.</h1>
          <p class="lead">
            Due to excessive interest, our workplace placement services are currently oversubscribed.
          </p>
          <p class="lead">
            If interested in learning more about our sampling and product feedback offerings, or to inquire about future brand partnerships, please reach out to us at <a href="mailto:brands@gathrnow.com">brands@gathrnow.com</a>.</p>
        </div>
      </div>
    </div>
  </section>

<%= render 'common/spinner' %>

<%=render partial: 'common/footer' %>
